* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.page-container {
	max-width: 980px;
	margin: 20px auto 0;
    display: flex;
    background-color: white;
}
.left-side {
    padding: 20px 15px;
    color: #fff;
    vertical-align: top;
    display: inline-block;
	width: 25%;
	background-color: #3a5e90;
}
.right-side {
    vertical-align: top;
    padding: 20px 15px;
    display: inline-block;
	width: calc(75% - 6px);
}
.avatar {
/*width: 200px;*/
/*height: 200px;*/
width: 100%;
max-width: 200px;
aspect-ratio: 1 / 1;

overflow: hidden;
border-radius: 50%;
margin: 0 auto 20px;
}
.image {
	display: block;
	width: 100%;
}

.menu ul {
    list-style-type: none;
}
.menu li {
    display: inline-block;
    margin-right: 15px;
}
.menu a {
    text-decoration: none;
    color: #3a5e90;
    font-weight: bold;
}
.menu a:hover {
    text-decoration: underline;
}

ul, ol {
    padding: 0;
}
li {
    list-style-type: none;
    margin-bottom: 5px;
}

.date {
    float: right;
    color: #666;
}

h1 {
    font-size: 28px;
    margin-bottom: 10px;
}
h2 {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 5px;
    text-transform: uppercase;
}
hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin-bottom: 10px;
}
p, b, i {
    font-size: 14px;
    line-height: 1.5;
}
.left-side h2 {
    color: white;
}
.left-side hr {
    border-top: 1px solid rgba(255,255,255,0.3);
}
.left-side li {
    list-style-type: none;
    margin-left: 0;
}
.no-bullet-list li {
    display: flex;
    justify-content: space-between;
}